[Unit]
Description=uname
DefaultDependencies=no
Before=sysinit.target
After=archlogo.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=tty
ExecStart=/usr/lib/systemd/scripts/uname
